### Pandas: Assignment-1 Solution

##### Import Library

In [1]:
import pandas as pd

#### Problem Statement 1:
**Q1)** How-to-count-distance-to-the-previous-zero

For each value, count the difference of the distance from the previous zero (or the start of the Series, whichever is closer) and if there are no previous zeros, print the position

Consider a DataFrame df where there is an integer column {'X'[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}

**The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.**

import pandas as pd

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [2]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
# creating a list of dataframe column 
li = list(df.X) 
zeroPos = -1
dist_from_zero = []
length = len(li)
for i in range(length):
    if(li[i] == 0):
        dist_from_zero.append(0)
        zeroPos = 0
    else:
        if(zeroPos > -1 and zeroPos<i):
            zeroPos += 1
            dist_from_zero.append(zeroPos)
        else:
           dist_from_zero.append(i + 1)

print(dist_from_zero)

[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]

**Q2)** Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

In [3]:
# Import Datetime and Numpy Library
from datetime import datetime
import numpy as np

In [4]:
# Creating DatetimeIndex that contains each business day of 2015
date_rng = pd.date_range(start='1/1/2015', end='31/12/2015', freq='B')
# Generated random num array of size = length of date_rng
random_data_arr = np.random.randint(0, 1000, size=(len(date_rng)))

# Creating DataFrame of random numbers with index = each business day of 2015
df2 = pd.DataFrame(random_data_arr, index=date_rng, columns =['random_data']) 
df2.head(15)

            random_data
2015-01-01          267
2015-01-02          387
2015-01-05          658
2015-01-06           97
2015-01-07          849
2015-01-08          554
2015-01-09          157
2015-01-12          596
2015-01-13          986
2015-01-14          308
2015-01-15          358
2015-01-16          534
2015-01-19          422
2015-01-20          720
2015-01-21          298

**Q3)** Find the sum of the values in s for every Wednesday

In [5]:
# Sum of random_data for every Wednesday in DataFrame
sum_of_wed = df2[np.in1d(df2.index.dayofweek, [2])].sum()
print('Sum of data for every Wednesday: ', sum_of_wed['random_data']);

Sum of data for every Wednesday:  28549

**Q4)** Average For each calendar month

In [6]:
df2.groupby(df2.index.strftime('%B'))['random_data'].mean().sort_values()

August       418.523810
November     460.666667
July         471.869565
January      486.545455
March        488.227273
October      510.318182
June         525.318182
May          526.952381
December     539.478261
February     562.500000
April        581.863636
September    583.409091
Name: random_data, dtype: float64

**Q5)** For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [7]:
df2.groupby(pd.Grouper(freq='4MS')).max()

            random_data
2015-01-01          996
2015-05-01          993
2015-09-01          996

#### Problem Statement 2:
Read the dataset from the below link

https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv

In [8]:
df3 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')
df3.head(2)

   Unnamed: 0     Id     Name  Year Gender State  Count
0       11349  11350     Emma  2004      F    AK     62
1       11350  11351  Madison  2004      F    AK     48

**Q1)** Delete unnamed columns

In [9]:
df3.drop(df3.columns[df3.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
df3.head(2)

      Id     Name  Year Gender State  Count
0  11350     Emma  2004      F    AK     62
1  11351  Madison  2004      F    AK     48

**Q2)** Show the distribution of male and female

In [10]:
df4 = df3.groupby(['Gender']).size().reset_index(name='counts')
df4['ratio'] = df4['counts']/df4['counts'].sum()
df4

  Gender  counts     ratio
0      F  558846  0.549832
1      M  457549  0.450168

**Q3)** Show the top 5 most preferred names

In [11]:
df3.groupby('Name').sum().reset_index().sort_values('Count', ascending=False).head(5)

           Name          Id     Year   Count
7198      Jacob  1665681356  1141099  242874
5378       Emma  1629482250  1137085  214852
12111   Michael  1687521295  1161152  214405
5579      Ethan  1660808475  1139091  209277
6973   Isabella  1630131786  1137090  204798

**Q4)** What is the median name occurrence in the dataset

In [12]:
# 1st Find count of each uniue name by applying group
df4 = df3.groupby('Name').sum().reset_index().sort_values('Count', ascending=False)

# Sort the resultant DataFrame by ascending order of count 
df4.sort_values('Count', ascending=True, inplace=True)

# Add cummulative count column
df4['Cum_Count'] = df4['Count'].cumsum()

# Find total number of names
total_num_of_names = df4.iloc[-1,:]['Cum_Count']

# Find median name index
median_name_index = total_num_of_names/2

# Locate median name
median_name = df4.loc[df4['Cum_Count'] >= median_name_index].iloc[0,:].Name
print(f'Median name: {median_name}')

Median name: Victor

**Q5)** Distribution of male and female born count by states

In [13]:
state_gender_df = df3.groupby(['State','Gender']).size()
state_gender_df

State  Gender
AK     F          2404
       M          2587
AL     F          9878
       M          8419
AR     F          7171
       M          6475
AZ     F         14518
       M         10820
CA     F         45144
       M         31637
CO     F         11424
       M          9183
CT     F          6575
       M          5733
DC     F          3053
       M          3000
DE     F          2549
       M          2440
FL     F         25781
       M         20070
GA     F         19385
       M         15454
HI     F          3255
       M          3546
IA     F          7131
       M          6307
ID     F          4918
       M          4833
IL     F         21268
       M         16828
                 ...
OK     F          9519
       M          8138
OR     F          8604
       M          7333
PA     F         17480
       M         14171
RI     F          2558
       M          2468
SC     F          9465
       M          8195
SD     F          2838
       M          2908
TN     F         13063
       M         10588
TX     F         39760
       M         27791
UT     F          9515
       M          8233
VA     F         14759
       M         11997
VT     F          1398
       M          1618
WA     F         13329
       M         11049
WI     F         10549
       M          8940
WV     F          4305
       M          3733
WY     F          1456
       M          1904
Length: 102, dtype: int64